<app-admin-template></app-admin-template>




<div class="img">
</div>
<div class="center">
  <div class="title">Médiathèque</div>
  <div class="sub_title">école nationale d'ingénieurs de Sousse</div>
  <div class="btns">
    <button ><a class="nav-link active" aria-current="page" routerLink="/login">Administrateur </a></button>
    <button > <a class="nav-link active" aria-current="page" routerLink="/cont">Connexion</a></button>
    <button > <a class="nav-link active" aria-current="page" routerLink="/regit">Inscription</a></button>


  </div>
</div>

<app-footer></app-footer>
